node_modules
dist
.DS_Store
*.local
.vite
qa/m2_5a_weapons/
qa/m2_5a_weapons_v2/
qa/m2_5a_weapons_v3/
qa/m2_5a_weapons_v4/
qa/m2_5a_weapons_v5/
qa/m2_5a_weapons_v6/
qa/m2_5b_chars_v3/
qa/m2_5c/
qa/m2_5d/
qa/m3a/
qa/m3a1/
qa/m3b/
